#autocompletion{
    width: inherit;
    background-color: white;
    border: 1px solid grey;
    line-height:1.5;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

#autocompletion p {
    margin: 0 0 0 0;
    padding: 0 5px 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#autocompletion p:hover {
    background-color:aliceblue;
    cursor:default;
}

#autocompletion p.selected {
    background-color: lightgrey;
}

#acdiv {
    display:inline-block;
    vertical-align: top;
    position: relative;
}

#acdiv * {
    vertical-align: top;
}

#loading {
    visibility: hidden;
    width:20px;
    position: absolute;
}

fieldset {
    padding: 10px 0px 30px 50px;
    width:400px;
}
fieldset>div {
    display:flex;
    align-items:center;
}

input#ville {
    width: 100%;
    box-sizing: border-box;
}